{% extends 'base.html' %}

{% block title %}設定{% endblock %}

{% block nav_item1_url %}"{% url 'short_post:home'%}"{% endblock %}
{% block nav_item1_name %}ホーム{% endblock %}
{% block nav_item2_url %}"{% url 'short_post:timeline'%}"{% endblock %}
{% block nav_item2_name %}タイムライン{% endblock %}
{% block nav_item3_url %}"{% url 'account:option'%}"{% endblock %}
{% block nav_item3_name %}設定{% endblock %}
{% block nav_item4_url %}"{% url 'account:logout'%}"{% endblock %}
{% block nav_item4_name %}ログアウト{% endblock %}

{% block body_class %}base-body text-center{% endblock %}
{% block body %}
    <div class="container mt-4 mb-4 border">
        <div class="mt-4 mb-5">
            <h2 class="font-weight-bold h5">設定項目</h2>
            <div class="list-group w-50 mx-auto option-list">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <a class="list-group-item" href="{% url 'account:user_update' %}">プロフィール編集</a>
                <a class="list-group-item" href="{% url 'account:password_update'%}">パスワード変更</a>
                <a class="list-group-item list-group-item-action" data-toggle="modal" data-target="#withdraw-modal">退会</a>
            </div>
        </div>
    </div>
<div class="modal fade" id="withdraw-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <div class="modal-title" id="myModalLabel">退会</div>
            </div>
            <div class="modal-body">
                <form method="post" id="withdraw-form">
                        <label>一度退会するとこのアカウントのデータはすべて削除され、元には戻せません。本当に退会しますか?</label>
                    {% csrf_token %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                <button type="submit" class="btn btn-primary" form="withdraw-form">退会する</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}