{% extends 'base.html' %}

{% block title %}設定{% endblock %}

{% block nav_item1_url %}"{% url 'short_post:home'%}"{% endblock %}
{% block nav_item1_name %}ホーム{% endblock %}
{% block nav_item2_url %}"{% url 'short_post:timeline'%}"{% endblock %}
{% block nav_item2_name %}タイムライン{% endblock %}
{% block nav_item3_url %}"{% url 'account:option'%}"{% endblock %}
{% block nav_item3_name %}設定{% endblock %}
{% block nav_item4_url %}"{% url 'account:logout'%}"{% endblock %}
{% block nav_item4_name %}ログアウト{% endblock %}

{% block body_class %}base-body text-center{% endblock %}
{% block body %}
    <div class="option-content container mt-4 mb-4 border">
        <div class="mt-4 mb-5">
            <h2 class="font-weight-bold h5">パスワード変更</h2>
            <form method="post" id="password-form">
                {% for error in form.non_field_errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
                {% for field in form %}
                    <div class="form-group text-left">
                        {{ field.label_tag }}
                        {{ field }}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" form="password-form">変更</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}