{% extends 'base.html' %}

{% load static %}
{% block js %}<script type="text/javascript" src="{% static 'js/signup.js' %}" defer></script>{% endblock %}
{% block title %}新規登録{% endblock %}

{% block body_class %}base-body text-center{% endblock %}

{% block body %}
<div class="signup-main m-auto pt-5">
    <h2 class="h4">アカウント作成に必要な情報を入力してください</h2>
    <div class="container mt-4">
        <form method="post">
	        {% for error in form.non_field_errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
            {% csrf_token %}
            <div style="text-align:left;">
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="text-danger">
                        {{ field.errors }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <button class="btn btn-primary">登録</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}