{% extends 'base.html' %}

{% load static %}
{% block js %}
<script type="text/javascript" src="{% static 'js/post.js' %}"></script>
{% endblock %}
{% block title %}ホーム{% endblock %}

{% block nav_item1_url %}"{% url 'short_post:home'%}"{% endblock %}
{% block nav_item1_name %}ホーム{% endblock %}
{% block nav_item2_url %}"{% url 'short_post:timeline'%}"{% endblock %}
{% block nav_item2_name %}タイムライン{% endblock %}
{% block nav_item3_url %}"{% url 'account:option'%}"{% endblock %}
{% block nav_item3_name %}設定{% endblock %}
{% block nav_item4_url %}"{% url 'account:logout'%}"{% endblock %}
{% block nav_item4_name %}ログアウト{% endblock %}

{% block body_class %}base-body text-center{% endblock %}
{% block body %}
    <div class="container mt-3 border">
        <div class="row p-2">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body p-3 text-left">
                        <div class="card-title mb-0">
                            <span class="font-weight-bold h4">{{ user.name }}</span>
                        </div>
                        <div class="card-subtitle text-muted mb-2" id="{{ user.username }}">
                            {{ user.username }}
                        </div>
                        <p class="card-text">ひとこと</p>
                    </div>
                    <div class="row no-gutters text-left">
                    <div class="card-text col-sm-6 border-right border-top p-3">
                        <span class="text-muted">フォロー中：<a href="{% url 'short_post:follow_follower'%}?username={{ user.username }}">{{ follow_count }}</a></span>
                    </div>
                    <div class="card-text col-sm-6 border-top p-3">
                       <span class="text-muted">フォロワー：<a href="{% url 'short_post:follow_follower'%}?username={{ user.username }}&follower=True">{{ follower_count }}</a></span>
                    </div>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="card">
                        <div class="card-body text-left">
                            <form method="post">
                                <div class="form-group">
                                    <div class="text-danger">
                                        {{ form.content.errors }}
                                     </div>
                                    <label class="font-weight-bold">内容</label>
                                    {{ form.content }}
                                </div>
                                <div class="form-group text-right">
                                    <button class="btn btn-primary">投稿</button>
                                </div>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 pl-0 mt-2">

                <ul class="nav nav-tabs" role="tablists">
                    <li class="nav-item "><a href="#post" data-toggle="tab" class="nav-link active text-muted">投稿内容</a></li>
                    <li class="nav-item"><a href="#favorite"  data-toggle="tab" class="nav-link text-muted">お気に入り</a></li>
                 </ul>
                <div class="tab-content text-left" style="overflow-y:scroll; height:35rem;">
                    <div class="tab-pane active fade show" id="post">
                        <ul class="list-group list-group-flush" id="my-post-list">
	                       {% for post in user_post_list %}
	                           <li class="list-group-item">
	                               <span class="font-weight-bold h6">{{ post.user.name }}</span>
	                               <p>{{ post.content | linebreaksbr}}</p>
	                               <form class="favolite-form" id="mypos-{{ post.post_id }}">
	                                   <input type="hidden" name="post_id" value="{{ post.post_id }}">
	                                   {% if post.prefetch_favorite %}
	                                       <button type="submit" class="btn rounded-circle p-0 favolite-btn active" style="width:2rem;height:2rem;
                                               background:#f0f8ff;" onfocus="this.blur();" id="favolite-btn-{{ post.post_id }}">
                                               <i class="far fa-star favolite-off" style="display: none;" id="favolite-off-{{ post.post_id }}"></i>
                                               <i class="fas fa-star favolite-on"  id="favolite-on-{{ post.post_id }}"></i>
                                           </button>
	                                   {% else %}
			                               <button type="submit" class="btn rounded-circle p-0 favolite-btn" style="width:2rem;height:2rem;
			                                   background:#f0f8ff;" onfocus="this.blur();" id="favolite-btn-{{ post.post_id }}">
			                                   <i class="far fa-star favolite-off" id="favolite-off-{{ post.post_id }}"></i>
			                                   <i class="fas fa-star favolite-on" style="display: none;" id="favolite-on-{{ post.post_id }}"></i>
			                               </button>
		                               {% endif %}
		                               {% csrf_token %}
	                               </form>

	                           </li>
	                       {% endfor %}
                        </ul>
                        <div id="my-post-end"></div>
                        {% if user_post_list.has_next %}
                            <input id="my-post-page" type="hidden" value="{{ user_post_list.next_page_number }}"/>
                            <input id="my-post-has-next" type="hidden" value="{{ user_post_list.has_next }}"/>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id=favorite>
                        <ul class="list-group list-group-flush" id="my-fav-list">
                            {% for post in user_favorite_list %}
	                           <li class="list-group-item">
                                   {% if post.post_content.user.username == user.username%}
                                       <span class="font-weight-bold h6"><a href="{% url 'short_post:home'%}">{{ post.post_content.user.name }}</a></span>
                                   {% else %}
                                       <span class="font-weight-bold h6"><a href="{% url 'short_post:other_user'%}?username={{ post.post_content.user.username }}">{{ post.post_content.user.name }}</a></span>
                                   {% endif %}
	                               <p>{{ post.post_content.content | linebreaksbr}}</p>
	                               <form class="favolite-form" id="myfav-{{ post.post_content.post_id }}">
	                                   <input type="hidden" name="post_id" value="{{post.post_content.post_id }}">

	                                       <button type="submit" class="btn rounded-circle p-0 favolite-btn active" style="width:2rem;height:2rem;
	                                                background:#f0f8ff;" onfocus="this.blur();" id="fav-favolite-btn-{{ post.post_content.post_id }}">
	                                           <i class="far fa-star favolite-off" style="display: none;" id="fav-favolite-off-{{ post.post_content.post_id }}"></i>
	                                           <i class="fas fa-star favolite-on" id="fav-favolite-on-{{ post.post_content.post_id }}"></i>
	                                       </button>
	                                   {% csrf_token %}
	                                </form>
	                           </li>
                            {% endfor %}
                        </ul>
                    <div id="my-fav-end"></div>
                        {% if user_favorite_list.has_next %}
                            <input id="my-fav-page" type="hidden" value="{{ user_favorite_list.next_page_number }}"/>
                            <input id="my-fav-has-next" type="hidden" value="{{ user_favorite_list.has_next }}"/>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}