{% extends 'base.html' %}

{% load static %}
{% block js %}<script type="text/javascript" src="{% static 'js/post.js' %}" defer></script>{% endblock %}
{% block title %}タイムライン{% endblock %}

{% block nav_item1_url %}"{% url 'short_post:home'%}"{% endblock %}
{% block nav_item1_name %}ホーム{% endblock %}
{% block nav_item2_url %}"{% url 'short_post:timeline'%}"{% endblock %}
{% block nav_item2_name %}タイムライン{% endblock %}
{% block nav_item3_url %}"{% url 'account:option'%}"{% endblock %}
{% block nav_item3_name %}設定{% endblock %}
{% block nav_item4_url %}"{% url 'account:logout'%}"{% endblock %}
{% block nav_item4_name %}ログアウト{% endblock %}

{% block body_class %}base-body text-center{% endblock %}
{% block body %}
    <div class="container mt-4 mb-4 border">
        <div class="row">
            <div class="col-sm-4 mt-2">
                <div class="card">
                    <div class="card-body p-3 text-left">
                        <div class="card-title mb-0">
                            <span class="font-weight-bold h4">名前</span>
                        </div>
                        <div class="card-subtitle text-muted mb-2">
                            username
                        </div>
                        <p class="card-text">ひとこと</p>
                    </div>
                    <div class="row no-gutters text-left">
                    <div class="card-text col-sm-6 border-right border-top p-3">
                        <span class="text-muted">フォロー中</span>
                    </div>
                    <div class="card-text col-sm-6 border-top p-3">
                       <span class="text-muted">フォロワー</span>
                    </div>
                    </div>
                </div>
                <div class="mt-5 mb-5">
                <div class="card">
                    <div class="card-body text-left">
                        <label class="font-weight-bold">内容</label>
                         <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                            <div class="form-group text-right">
                                <button class="btn btn-primary">投稿</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-sm-8 pl-0 mt-2">
                <ul class="nav nav-tabs" role="tablists">
                    <li class="nav-item "><a href="#follower-timeline" data-toggle="tab" class="nav-link active text-muted">フォロー中</a></li>
                    <li class="nav-item"><a href="#all-timeline"  data-toggle="tab" class="nav-link text-muted">すべて</a></li>
                 </ul>
                <div class="tab-content text-left">
                    <div class="tab-pane active fade show" id="follower-timeline">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="font-weight-bold h5">名前</span>
                                <p>発言1</p>
                                <button type="button" class="btn btn-light rounded-circle p-0 favolite-btn" style="width:2rem;height:2rem;" id="favolite-btn">
                                    <i class="far fa-star favolite-off" id="favolite-off"></i>
                                    <i class="fas fa-star favolite-on" style="display: none;" id="favolite-on"></i>
                                </button>
                            </li>
                            <li class="list-group-item">
                                <span class="font-weight-bold h5">名前</span>
                                <p>発言2</p>
                                <button type="button" class="btn btn-light rounded-circle p-0 favolite-btn" style="width:2rem;height:2rem;">
                                    <i class="far fa-star favolite-off"></i>
                                    <i class="fas fa-star favolite-on" style="display: none;"></i>
                                </button>
                            </li>
                            <li class="list-group-item">
                                <span class="font-weight-bold h5">名前</span>
                                <p>発言3</p>
                                <button type="button" class="btn btn-light rounded-circle p-0 favolite-btn" style="width:2rem;height:2rem;">
                                    <i class="far fa-star favolite-off"></i>
                                    <i class="fas fa-star favolite-on" style="display: none;"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="all-timeline">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">画像1</li>
                            <li class="list-group-item">画像2</li>
                            <li class="list-group-item">画像3</li>
                                                        <li class="list-group-item">画像1</li>
                            <li class="list-group-item">画像2</li>
                            <li class="list-group-item">画像3</li>
                                                        <li class="list-group-item">画像1</li>
                            <li class="list-group-item">画像2</li>
                            <li class="list-group-item">画像3</li>
                                                        <li class="list-group-item">画像1</li>
                            <li class="list-group-item">画像2</li>
                            <li class="list-group-item">画像3</li>
                                                        <li class="list-group-item">画像1</li>
                            <li class="list-group-item">画像2</li>
                            <li class="list-group-item">画像3</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="favorite">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">お気に入り1</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}