{% extends 'base.html' %}

{% load static %}
{% block js %}<script type="text/javascript" src="{% static 'js/post.js' %}" defer></script>{% endblock %}
{% block title %}タイムライン{% endblock %}

{% block nav_item1_url %}"{% url 'short_post:home'%}"{% endblock %}
{% block nav_item1_name %}ホーム{% endblock %}
{% block nav_item2_url %}"{% url 'short_post:timeline'%}"{% endblock %}
{% block nav_item2_name %}タイムライン{% endblock %}
{% block nav_item3_url %}"{% url 'account:option'%}"{% endblock %}
{% block nav_item3_name %}設定{% endblock %}
{% block nav_item4_url %}"{% url 'account:logout'%}"{% endblock %}
{% block nav_item4_name %}ログアウト{% endblock %}

{% block body_class %}base-body text-center{% endblock %}
{% block body %}
    <div class="container mt-3 border">
        <div class="row p-2">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body p-3 text-left">
                        <div class="card-title mb-0">
                            <span class="font-weight-bold h4">{{ user.name }}</span>
                        </div>
                        <div class="card-subtitle text-muted mb-2" id="{{ user.username }}">
                            {{ user.username }}
                        </div>
                        <p class="card-text">ひとこと</p>
                    </div>
                    <div class="row no-gutters text-left">
                    <div class="card-text col-sm-6 border-right border-top p-3">
                        <span class="text-muted">フォロー中</span>
                    </div>
                    <div class="card-text col-sm-6 border-top p-3">
                       <span class="text-muted">フォロワー</span>
                    </div>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="card">
                        <div class="card-body text-left">
                            <form method="post">
                                <div class="form-group">
                                    <div class="text-danger">
                                        {{ form.content.errors }}
                                     </div>
                                    <label class="font-weight-bold">内容</label>
                                    {{ form.content }}
                                </div>
                                <div class="form-group text-right">
                                    <button class="btn btn-primary">投稿</button>
                                </div>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 pl-0 mt-2">
                <ul class="nav nav-tabs" role="tablists">
                    <li class="nav-item "><a href="#follow-timeline" data-toggle="tab" class="nav-link active text-muted">フォロー中</a></li>
                    <li class="nav-item"><a href="#all-timeline"  data-toggle="tab" class="nav-link text-muted">すべて</a></li>
                 </ul>
                <div class="tab-content text-left" style="overflow-y:scroll; height:35rem;">
                    <div class="tab-pane active fade show" id="follow-timeline">
                        <ul class="list-group list-group-flush" id="follower-post-list">

                           {% for post in follow_post_list %}
                               <li class="list-group-item">
                                   {% if post.user.username == user.username%}
                                       <span class="font-weight-bold h6"><a href="{% url 'short_post:home'%}">{{ post.user.name }}</a></span>
                                   {% else %}
                                       <span class="font-weight-bold h6"><a href="{% url 'short_post:other_user'%}?user-name={{ post.user.username }}">{{ post.user.name }}</a></span>
                                   {% endif %}
                                   <p>{{ post.content | linebreaksbr}}</p>
                                   <form class="favolite-form" id="flpos-{{ post.post_id }}">
                                       <input type="hidden" name="post_id" value="{{ post.post_id }}">
                                       {% if post.prefetch_favorite %}
                                           <button type="submit" class="btn rounded-circle p-0 favolite-btn active" style="width:2rem;height:2rem;
                                               background:#f0f8ff;" onfocus="this.blur();" id="favolite-btn-{{ post.post_id }}">
                                               <i class="far fa-star favolite-off" style="display: none;" id="favolite-off-{{ post.post_id }}"></i>
                                               <i class="fas fa-star favolite-on"  id="favolite-on-{{ post.post_id }}"></i>
                                           </button>
                                       {% else %}
                                           <button type="submit" class="btn rounded-circle p-0 favolite-btn" style="width:2rem;height:2rem;
                                               background:#f0f8ff;" onfocus="this.blur();" id="favolite-btn-{{ post.post_id }}">
                                               <i class="far fa-star favolite-off" id="favolite-off-{{ post.post_id }}"></i>
                                               <i class="fas fa-star favolite-on" style="display: none;" id="favolite-on-{{ post.post_id }}"></i>
                                           </button>
                                       {% endif %}
                                       {% csrf_token %}
                                   </form>

                               </li>
                           {% endfor %}
                        </ul>
                        <div id="follower-post-end"></div>
                        {% if follow_post_list.has_next %}
                            <input id="follower-post-page" type="hidden" value="{{ follow_post_list.next_page_number }}"/>
                            <input id="follower-post-has-next" type="hidden" value="{{ follow_post_list.has_next }}"/>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="all-timeline">
                        <ul class="list-group list-group-flush" id="all-post-list">
                           {% for post in all_post_list %}
                               <li class="list-group-item">
                                   {% if post.user.username == user.username%}
                                       <span class="font-weight-bold h6"><a href="{% url 'short_post:home'%}">{{ post.user.name }}</a></span>
                                   {% else %}
                                       <span class="font-weight-bold h6"><a href="{% url 'short_post:other_user'%}?user-name={{ post.user.username }}">{{ post.user.name }}</a></span>
                                   {% endif %}
                                   <p>{{ post.content | linebreaksbr}}</p>
                                   <form class="favolite-form" id="alpos-{{ post.post_id }}">
                                       <input type="hidden" name="post_id" value="{{ post.post_id }}">
                                           {% if post.prefetch_favorite %}
	                                           <button type="submit" class="btn rounded-circle p-0 favolite-btn active" style="width:2rem;height:2rem;
	                                               background:#f0f8ff;" onfocus="this.blur();" id="all-favolite-btn-{{ post.post_id }}">
	                                               <i class="far fa-star favolite-off" style="display: none;" id="all-favolite-off-{{ post.post_id }}"></i>
	                                               <i class="fas fa-star favolite-on" id="all-favolite-on-{{ post.post_id }}"></i>
	                                           </button>
                                           {% else %}
	                                           <button type="submit" class="btn rounded-circle p-0 favolite-btn" style="width:2rem;height:2rem;
	                                               background:#f0f8ff;" onfocus="this.blur();" id="all-favolite-btn-{{ post.post_id }}">
	                                               <i class="far fa-star favolite-off" id="all-favolite-off-{{ post.post_id }}"></i>
	                                               <i class="fas fa-star favolite-on" style="display: none;" id="all-favolite-on-{{ post.post_id }}"></i>
	                                           </button>
                                           {% endif %}
                                       {% csrf_token %}
                                   </form>
                               </li>
                           {% endfor %}
                        </ul>
                        <div id="all-post-end"></div>
                        {% if all_post_list.has_next %}
                            <input id="all-post-page" type="hidden" value="{{ all_post_list.next_page_number }}"/>
                            <input id="all-post-has-next" type="hidden" value="{{ all_post_list.has_next }}"/>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}