.base-body{
	background:#f0f8ff;
}

.top-main{
	margin-top:10rem;
	width:20rem;
}

.signup-main{
    width:40rem;
}

div.signup-main label{
    font-size:0.8rem;
}

.list-group-item{
	background:#f0f8ff;
}
.favolite-on{
    color: #F7D358;
}

.scroll {
  overflow-y: auto;
}

div.option-list a{
	color: black;
}

.option-content{
    width:40rem;
}

div.option-content label{
    font-size:0.8rem;
}